@import "./variables";
@import "./mixins";

@media (min-width: 1200px) {
    li {
        display: inline-block;
    }

    .flex-item{
      width: 100%;
    }
}

@media (max-width: 1199px) {
    li {
        display: block;
    }

    .carousel {
        width: 100%;
    }
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.flex-container {
  display: inline-flex;
  width: 100%;
}
  
body > img {
  width: 100%;
  height: auto;
  display: block;
}

p {
  color:red;
}
